*~
*.o
*.obj
*.swp
*.swo
*.so
*.a
*.dll
*.lib
*.exp
*.zip
*.tgz
*.tar.gz
*.tbz2
*.tar.bz2
*.Z
*.exe
tags
TAGS
*.ncb
*.suo
*.vcproj.*
*.orig
*.rej
*.pyc
*.class
.metadata/*
*/bin/**
target/

# == Eclipse ==
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*~.nib
local.properties
.classpath
.settings/
.loadpath
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# CDT-specific
.cproject
# PDT-specific
.buildpath
